@foreach (var pizza in Order.Pizzas)
{
	<p>
		<strong>
			@(pizza.Size)"
			@pizza.Special?.Name
			(£@pizza.GetFormattedTotalPrice())
		</strong>
	</p>

	<ul>
		@foreach (var topping in pizza.Toppings)
		{
			<li>+ @topping.Topping?.Name</li>
		}
	</ul>
}

<p>
	<strong>
		Total price:
		£@Order.GetFormattedTotalPrice()
	</strong>
</p>

<div class="">
	@if (@Order.GetTotalPrice() < 15.0m)
	{
		<span class="badge badge-warning">Low Margin</span>
	}
	@if (@Order.GetTotalPrice() > 50.0m)
	{
		<span class="badge badge-success">High Value</span>
	}
</div>

@code {
	[Parameter, EditorRequired] public Order Order { get; set; } = new();
}